// create var using $
$primaryBtn: red;
header {
    background: lightblue;
    display: flex;
    justify-content: center;
}

header button {
    background: $primaryBtn;
}

.contact button {
    background: $primaryBtn;
}