* {
    background: red;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font: outline;
    font-size: 4rem;
    text-shadow: 4px 4px #ddd;
}

p {
    background: #fff;
}

select {
    background: #fff;
}

.container {
    display: inline;
}

.pick-pack {
    border: 1px solid #ccc;
    border-radius: 80px;
    background: #fff;
}

.pick {
    padding: 4px 6px;
    margin: 2px 8px;
}