body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    border: none;
    background: transparent;
    color: #445323;
    font-weight: bold;
    cursor: pointer;
}

p {
    cursor: grab;
    color: #000;
    font-weight: lighter;
    font-size: 2.5rem;
}

span {
    cursor: progress;
    color: rgba(107, 35, 35, 0.5);
    font-weight: lighter;
    font-size: 2.5em;
}

button:hover {
    border: 1px solid red;
    border-radius: 4px;
}