body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-weight: lighter;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #ddd;
    border: 1px solid #000;
    border-radius: 4px;
}