:root {
    --clr-mainWhite: #fff;
    --clr-mainBlack: #000;
    --clr-mainGray: #ddd;
    --clr-mainMilky: #f6f5f5;
    --clr-mainHeader: #2c061f;
    --clr-mainYellow: #ffc764;
    --clr-mainPink: #ff577f;
    --clr-mainCool: #ffb26b;
    --clr-mainLightgreen: #2ec2b0;
    --clr-mainCool-green: #81ecec;
    --clr-mainCool-lightgreen: #00cec9;
}

* {
    background: var(--clr-mainMilky);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
}

h1 {
    color: var(--clr-mainHeader);
    /* background: var(--clr-mainLightgreen); */
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px var(--clr-mainGray);
}

h2 {
    background: none;
}

p {
    /* font-size: 22px; */
    font-weight: lighter;
    background: none;
}

a {
    text-decoration: none;
}

img {
    border: 1px solid var(--clr-mainYellow);
}


/* card */

.card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: var(--clr-mainCool);
    margin: 50px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}

.card-top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: var(--clr-mainYellow);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.card-bottom {
    margin-top: 120px;
}

.name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
}

.card img {
    margin: 30px 20px 0 0;
    margin-bottom: 60px;
}

.card-bottom {
    margin-top: 120px;
    background: none;
}

.info {
    margin: 20px 0;
    background: none;
}

.circle-img {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 90px;
    height: 90px;
}


/* links */

.btn {
    color: var(--clr-mainYellow);
    border: 2px solid var(--clr-mainYellow);
    border-radius: 5px 5px 5px 5px;
    font-size: 25px;
}

.btn:hover {
    color: var(--clr-mainCool);
}