body {
    font-family: 'Hanalei', cursive;
}

p {
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
}

.one {
    text-shadow: #322332 0 -2px;
}

.two {
    text-shadow: 8px 8px 0 rgba(255, 0, 180, 0.5);
}

.three {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}