.container {
    background: #232222;
    padding: 10px;
    overflow: hidden;
}

.container div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #eee;
    /* display: inline-block; */
    width: 49%;
    float: left;
}

.border {
    border: 1px solid #232222;
}

.clear {
    /* clear:left or right or both */
    clear: both;
}

.border:hover {
    cursor: pointer;
    background: rgba(131, 128, 128, 0.9);
}