:root {
    --clr-grayC: #ccc;
    --clr-grayE: #eee;
    --clr-grayD: #ddd;
    --clr-grayDK: rgba(95, 88, 88, 0.867);
    --clr-moj: #43323243;
}

* {
    /* background: rgba(rgb(160, 61, 61), rgb(226, 85, 20), rgb(219, 189, 17), 0.5); */
    background: rgba(160, 226, 219, 0.5);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-decoration: underline var(--clr-grayD);
    text-shadow: 2px 4px var(--clr-grayC);
}

p {
    font-size: 3rem;
}

.container {
    /* background: red; */
    border: 1px solid var(--clr-grayD);
    border-radius: 4px;
    padding: 4px;
    margin: 8px;
}

.a {
    background: blue;
    opacity: 0.3;
    height: 10vh;
}

.b {
    background: rgba(68, 68, 243, 0.2);
    height: 10vh;
}

.a:hover {
    cursor: pointer;
    opacity: 1;
}