* {
    background: #ddd;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    display: flex;
    justify-content: center;
    background: none;
}

.container {
    border: 3px solid #000;
}

.red {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 5px solid black;
    border-radius: 0px 0px 5px 0px;
    display: inline-block;
    position: relative;
    left: 200px;
}

.blue {
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 5px solid black;
    border-radius: 0px 0px 5px 0px;
    margin-top: 90px;
    /* display: inline-block; */
    position: relative;
    right: 1px;
}

.yellow {
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    border: 5px solid black;
    border-radius: 0px 0px 5px 0px;
    display: inline-block;
    position: relative;
    left: 100px;
}