div {
    padding: 20px;
    margin: 20px auto;
    background-color: #ccc;
    height: 30vh;
    width: 300px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: #000;
    text-shadow: 2px 1px #fff;
    /* H-shadow | V-shadow | blur | spread | color |inset  :: horizontal & vertical */
    /* box-shadow: 0 0 0 0 #ddd inset; */
    /* box-shadow: 1px 1px 1px 1px #ddd, 1px 1px 1px 1px #ddd; */
    /* box-shadow: 1px 1px 10px 1px #ddd; */
    box-shadow: 0 0 10px 0 #ddd, 0 0 10px 0 #f10000, 0 0 10px 0 #000, 0 0 10px 0 #080, 0 0 10px 0 #00f, 0 0 10px 0 yellow;
}

p {
    margin-top: 90px;
}