/*
Animation
- iteration
- timing function
- spinner loading
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: antiquewhite;
    position: absolute;
    left: 50%;
    top: 50%;
    /* use this old panner */
    margin-left: -50px;
    margin-top: -50px;
    /* or this cool one */
    /* display: flex;
    justify-content: center;
    align-items: center;
    color: white; */
    /* transform: translate(-50%, -50%); */
    animation-name: change-color;
    animation-duration: 6s;
    transition: transform .3s;
}

.circle {}

@keyframes change-color {
    0% {
        background-color: antiquewhite;
    }
    5% {
        background-color: aliceblue;
    }
    10% {
        background-color: aqua;
    }
    100% {
        background-color: bisque;
    }
}