div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 100%;
    background-image: url("./images/practice-ball_ping_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

img {
    border: 10px solid red;
    height: 150px;
    width: 150px;
    padding: 50px;
    margin: 60px;
}


/*classes*/

.one {
    border: 1px dashed orange;
}

.two {
    border: 5px dotted orange;
}

.three {
    border-radius: 100px;
}

.four {
    border: 1px double burlywood;
}