*,
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #232222;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

h3 {
    color: #fff;
    font-weight: lighter;
    font-size: 1.9rem;
}

p {
    background: #ccc;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    margin: 2px;
    border: 1px solid #fff;
    border-radius: 4px;
    background: #ccc;
}

.a,
.b {
    padding: 3px;
    margin: 3px;
    color: #fff;
    font-size: 2.5rem;
    border: 1px solid #000;
    border-radius: 4px;
    background: none;
}