* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    width: 100px;
    height: 100px;
    border: 5px solid #000;
    border-radius: 50%;
    border-left-color: transparent;
    background-color: antiquewhite;
    position: absolute;
    left: 50%;
    top: 50%;
    /* use this old panner */
    margin-left: -50px;
    margin-top: -50px;
    /* or this cool one */
    /* display: flex;
    justify-content: center;
    align-items: center;
    color: white; */
    /* transform: translate(-50%, -50%); */
    animation-name: coloring;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* direction */
    animation-direction: normal;
}

@keyframes coloring {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: #000;
    }
}