* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    position: absolute;
    left: 50%;
    top: 50%;
    /* use this old panner */
    margin-left: -50px;
    margin-top: -50px;
    /* or this cool one */
    /* display: flex;
    justify-content: center;
    align-items: center;
    color: white; */
    /* transform: translate(-50%, -50%); */
    /* shorthand anim */
    animation: coloring 3s linear 2s infinite alternate;
}

div:hover {
    cursor: pointer;
    animation-play-state: paused;
}

@keyframes coloring {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: #000;
    }
}